@import "https://unpkg.com/aos@next/dist/aos.css";

* {
  margin: 0px;
  padding: 0px;
}
body {
  color: rgb(8, 253, 216);
  border-top: none;
  background:rgb(0, 15, 12);
}
.navbar {
  background: rgb(1, 49, 40);
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-family: "Chonburi", cursive;
}
.container .navbar-brand {
  color: rgb(255, 255, 255);
  font-family: "Chonburi", cursive;
}


.nav-item a {
  font-family: sans-serif;
}

.navbar button {
  border-radius: 0px;
  padding: 2px 4px;
  border: 1px solid #a8a9af; 
}

.col-lg-6 {
  box-shadow: #04af847e;
  

}

/* HERO */

.hero {
  padding-top: 120px;
  padding-bottom: 50px;
  margin-bottom: 70px;
  font-style: normal; 
}
.hero-title {
  margin-left: 50px;
  color: whitesmoke;
}
.hero-title h1 {
  text-align: justify;
  font-size: 20px;
}
.hero-title p {
  color: rgb(250, 61, 105);
  font-weight: lighter;
  font-size: 18px;
}
header button a {
  padding: 15px;
  font-size: 18px;
}
.btn-header {
  margin: 40px 0px 0px 50px;
}
.btn-header button {
  border-radius: 0px;
  margin-right: 40px;
  margin: 20px 40px 0px 20px;
}

a:link {
  color: rgb(8, 253, 216);
  text-decoration: none;
}
a:visited {
  color: rgb(8, 253, 216);
}
/*SECTION */

/*SECTION projects*/

.projects-page {
  padding-top: 10px;
}

.projects-title h1 {
  margin: 0px 0px 50px 50px;
  text-align: justify;
  font-size: 60px;
}
.projects .links {
  margin: 20px 20px 50px;
  position: relative;
  bottom: 40px;
  text-align: end;
}
button {
  border: rgb(8, 253, 216) 1px solid;
  border-radius: 20px;
  background-color: rgb(29, 29, 29);
  font-size: 15px;
  padding: 6px 8px;
}
button:hover {
  border: rgb(148, 141, 245) 1px solid;
}
.projects i {
  font-size: 28px;
  position: relative;
  top: 7px;
}
i:hover {
  color: #6e7ff3;
  transition: 0.3s;
}
a:hover {
  color: #6e7ff3;
}
.projects p {
  color: whitesmoke;
  font-size: 20px;
  display: flex;
  margin: 0px 0px 4px 40px;
  text-align: start;
}
.section .img-projects {
  padding: 4px;
  border: rgb(8, 253, 216) 1px solid;
  opacity: 0.4;
  transition: 1.2s;
  z-index: -1;
  position: relative;
  right: -10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 100%);
}

.projects:hover .img-projects {
  box-shadow: -7px 10px 20px rgba(0, 0, 0, 0.2);
  transition: 1.2s;
  right: 10px;
  opacity: 1;
}
.see-more h3 {
  color: rgb(250, 61, 105);
}

/*  SECTION about-me  */
.about-page {
  padding-top: 100px;
  padding-bottom: 80px;
}
.skills {
  padding-top: 100px;
  padding-bottom: 80px;
}
.about-title h1 {
  margin: 0px 0px 50px 50px;
  text-align: justify;
  font-size: 60px;
}
.about-me p {
  line-height: 1.5;
  text-align: justify;
  margin: 0px 0px 50px 50px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}
.skills p {
  line-height: 1.5;
  text-align: justify;
  margin: 0px 0px 50px 50px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

#img-about-me {
  box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

/*  FOOTER   */

.btn-email a {
  padding: 15px;
  font-size: 18px;
}
.btn-email {
  margin: 30px 30px 90px;
}

.footer {
  margin-bottom: 80px;
  padding-top: 50px;
  margin-top: 50px;
  background-color: rgb(3, 26, 19);

}
.footer-item {
  padding-bottom: 70px;
}
.contact-title h1 {
  text-align: center;
  font-size: 55px;
  margin: 0px 0px 50px 50px;
}

.footer i {
  font-size: 25px;
  padding: 10px;
  color: #f0f0f0;
}

.footer button {
  border: 1px solid #a8a9af;
}

.footer a {
  color: #ffffff;
}
.footer button:hover {
  border: rgb(26, 27, 27) 1px solid;
}

.footer i:hover {
  color: rgb(8, 253, 216);
  transition: 0.3s;
}
.footer a:hover {
  color: rgb(8, 253, 216);
}
.open-source {
  font-size: 15px;
}
.skills {
  color: aliceblue;
}

@media (max-width: 995px) {
.about-page button{
  margin-bottom: 30px;
}
}
@media (max-width: 500px) {
  .hero-title h1 {
    text-align: left;
    font-size: 20px;
  }
  .btn-header {
    text-align: center;
  }
  .hero-title {
    margin-left: 20px;
  }
  .about-title h1,
  .projects-title h1,
  .contact-title h1 {
    text-align: center;
    font-size: 50px;
    margin: 0px 0px 50px 0px;
  }
  .projects .links {
    margin: 60px 20px 50px;
    text-align: center;
  }
  .about-me p {
    line-height: 1.5;
    text-align: justify;
    margin: 0px 15px 30px;
    font-size: 14px;
  }
  
  #img-about-me {
    margin: 40px auto 30px;
    width: 300px;
  }
  
  .open-source {
    font-size: 13px;
    color: aliceblue;
  }
}
